<md-content>



	<form name="projectForm" layout-padding>

		<md-input-container class="md-block">
	      	<label>Title</label>
	      	<input ng-model="vm.project.frontMatter.title" type="text">
	    </md-input-container>

	</form>




	<md-list>

		<md-list-item 
			ng-repeat="course in vm.project.frontMatter.courses" 
			class="md-2-line"
			ng-click="openCourse(course.id)">

			<md-icon md-svg-icon="communication:phone" class="md-avatar-icon"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>{{ course.title }}</h3>
				<p>{{ course.name }}</p>
			</div>

		</md-list-item>

	</md-list>




</md-content>
