<md-content>
	Title: {{ vm.project.frontMatter.title }}
	<br>
	Project: {{ vm.project }}
	<br>
	Content: {{ vm.project.content }}

	<md-list>

		<md-list-item 
			ng-repeat="course in vm.project.frontMatter.courses" 
			class="md-2-line"
			ng-click="openCourse(course.id)">

			<md-icon md-svg-icon="communication:phone" class="md-avatar-icon"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>Title: {{ course.title }}</h3>
				<p>id: {{ course.id }}</p>
			</div>

		</md-list-item>

	</md-list>

</md-content>
